body {
  padding: 0;
  margin: 0;
  font-size: 12pt;
}

.justify {
  display: flex;
  justify-content: space-around;
}

.primary-header {
  background-color: orange;
  height: 10vh;
}

.primary-header-content {
  height: inherit;
  width: 80%;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.header-link-list {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  list-style: none;
}

.primary-content {
  height: 100%;
  background-color: red;
  height: 80vh;
}

.side-bar {
  width: 30%;
  background-color: blue;
  height: inherit;
}

.primary-footer {
  height: 10vh;
  background-color: limegreen;
}
